<launch>

  <node pkg="navfn" type="navfn_node" name="navfn" respawn="false" output="screen">
    <rosparam file="$(find path_sampling)/config/navfn_params.yaml" command="load" ns="costmap"/>
    <remap from="/navfn/goal" to="/move_base_simple/goal"/>
    <remap from="/navfn/navfn_planner/plan" to="/global_planner/plan"/>
  </node>

</launch>